* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f1f3f4;
  font-family: serif;
}

.top-nav-bar {
  height: 57px;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: #000;
  margin-bottom: 20px;
  border-bottom: 1px solid #000;
}

.top-nav-bar img {
  height: 40px;
  margin: 5px 5px;
}

.top-nav-bar .form-control {
  margin-top: 9px;
  margin-left: 38px;
  border: 1px solid #38b6ff;
  border-radius: 28px 0px 0px 28px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.top-nav-bar .input-group-text {
  background: #38b6ff;
  border: 1px solid #38b6ff;
  margin: 8.5px 10px 3px 0;
  border-radius: 0px 28px 28px 0px !important;
  cursor: pointer;
}

.top-nav-bar .search-box {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 60%;
}

.top-nav-bar .search-box .fa-search {
  color: #f1f3f4;
}

.menu-bar {
  width: 40%;
  height: 50px;
  float: right;
}

.menu-bar ul {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  float: right;
  padding-left: -40px;
}

.menu-bar ul li {
  border-right: 1px solid #38b6ff;
  list-style-type: none;
  padding: 15px 35px;
  text-align: center;
  cursor: pointer;
}

.menu-bar ul li a {
  text-decoration: none;
  color: #38b6ff;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-bar .fa-shopping-cart {
  margin-right: 5px;
  color: yellow;
}

@media only screen and (max-width: 980px) {
  .top-nav-bar {
    height: 118px;
  }
  .top-nav-bar .search-box {
    width: 100%;
  }
  .top-nav-bar .menu-bar {
    width: 100%;
    height: 40px;
  }
  .top-nav-bar .menu-bar .menu-bar ul {
    margin: 10px 0;
    width: 100%;
  }
  .top-nav-bar .menu-bar .menu-bar ul li {
    height: 57px;
    width: 100%;
  }
}

/* --------------------------Side Menu-------------------------------*/
.side-menu {
  height: 500px;
  width: 15%;
  font-size: 14px;
  float: left;
  z-index: 2;
  background-color: #ddd;
}

.side-menu ul {
  margin-left: 10px;
}

.side-menu ul li {
  list-style-type: none;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.side-menu ul li:hover {
  color: #38b6ff;
}

.side-menu ul li ul {
  display: none;
  z-index: 10;
  top: 77px;
}

.side-menu ul li:hover ul {
  display: block;
  height: 400px;
  margin-left: 14%;
  padding: 0 100px 10px 10px;
  position: fixed;
  background: #ececec;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.side-menu .fa-angle-right {
  margin-top: 4%;
  margin-right: 8px;
  float: right;
}

#menu-btn,
#close-btn {
  font-size: 30px;
  margin: 10px;
  color: #38b6ff;
  display: none;
}

@media only screen and (max-width: 980px) {
  .side-menu {
    width: 34%;
    z-index: 20;
    top: 133px;
    position: fixed;
    font-size: 10px;
    display: none;
  }
  .side-menu ul li ul {
    top: 134px;
  }
  .side-menu ul li:hover ul {
    margin-left: 32%;
  }
  #menu-btn {
    display: block;
  }
}

/*---------------------slider---------------------------------*/
.slider {
  width: 85%;
  margin-left: 15%;
  padding: 0 10px;
}

.slider .carousel {
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.slider .carousel-indicators {
  z-index: 1 !important;
}

@media only screen and (max-width: 980px) {
  .slider {
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/*----------------------------------Featured-Categories------------------------*/
.featured-categories {
  width: 100%;
  height: 60%;
  margin-top: 40px;
  padding-top: 20px;
}

.featured-categories img {
  width: 100%;
  height: 58%;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  cursor: pointer;
}

.featured-categories img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*---------------------------------On Sale Products-------------------------*/
.on-sale,
.new-products {
  width: 100%;
  margin-top: -40px;
}

.on-sale .title-box,
.new-products .title-box {
  background: #38b6ff;
  color: #fff;
  width: 180px;
  padding: 4px 10px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.on-sale .title-box h2,
.new-products .title-box h2 {
  font-size: 24px;
}

.on-sale .title-box::after,
.new-products .title-box::after {
  content: "";
  border-top: 40px solid #38b6ff;
  border-right: 50px solid transparent;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -4px;
  margin-left: 170px;
}

.on-sale .product-top,
.new-products .product-top {
  width: 100%;
  height: 90%;
}

.on-sale .product-top .onsale-image,
.new-products .product-top .onsale-image {
  margin-top: 30px;
  padding-top: 30px;
  padding-left: 25px;
  margin-bottom: -60px;
  width: 90%;
  height: 70%;
}

.on-sale .product-top .overlay-right,
.new-products .product-top .overlay-right {
  display: block;
  opacity: 0;
  position: absolute;
  top: 10%;
  margin-top: 50px;
  margin-left: 0;
  width: 70px;
}

.on-sale .product-top .overlay-right .fas,
.on-sale .product-top .overlay-right .far,
.new-products .product-top .overlay-right .fas,
.new-products .product-top .overlay-right .far {
  cursor: pointer;
  background-color: #38b6ff;
  color: #fff;
  height: 35px;
  width: 35px;
  font-size: 20px;
  padding: 7px;
  margin-top: 5%;
  margin-bottom: 5%;
}

.on-sale .product-top .overlay-right .btn-secondary,
.new-products .product-top .overlay-right .btn-secondary {
  background: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.on-sale .product-top .overlay-right .fas:hover,
.on-sale .product-top .overlay-right .far:hover,
.new-products .product-top .overlay-right .fas:hover,
.new-products .product-top .overlay-right .far:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.on-sale .product-top:hover .overlay-right,
.new-products .product-top:hover .overlay-right {
  opacity: 1;
  margin-left: 8%;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

/*---------------------------------Products Buttom CSS-------------------------*/
.on-sale .product-buttom .fas,
.on-sale .far,
.new-products .product-buttom .fas,
.new-products .far {
  margin-top: -20px;
  padding-top: -40px;
  color: #38b6ff;
  font-size: 15px;
}

.on-sale .product-buttom h3,
.new-products .product-buttom h3 {
  font-size: 20px;
  font-weight: bold;
}

.on-sale .product-buttom h5,
.new-products .product-buttom h5 {
  font-size: 20px;
  font-weight: bold;
}

.new-products {
  margin-top: 70px;
}

/*---------------------------------Feature Services----------------------------------*/
.website-features {
  background-color: #414543;
  margin-top: 90px;
  margin-bottom: 50px;
  position: relative;
  -webkit-box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.website-features img {
  width: 70%;
  height: 60%;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.website-features h5 {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
}

/*-----------------------------Footer Menu ----------------------------------*/
.footer,
.footer-products {
  background-color: #000;
  padding-top: 30px;
  margin-top: -20px;
}

.footer h4,
.footer-products h4 {
  text-align: center;
  color: #fff;
}

.footer .flogo,
.footer-products .flogo {
  width: 100%;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer .footer-link a,
.footer-products .footer-link a {
  margin-left: 80px;
  text-decoration: none;
  color: #38b6ff;
}

.footer .appsicon,
.footer-products .appsicon {
  widows: 100%;
  height: 160px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer .securelogo,
.footer-products .securelogo {
  width: 25%;
  height: 80%;
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.footer .social-icon h6,
.footer-products .social-icon h6 {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer .social-icon .fab,
.footer-products .social-icon .fab {
  text-align: center;
  font-size: 30px;
  padding-right: 10px;
  -webkit-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
  color: #38b6ff;
}

.footer .social-icon .fab:hover,
.footer-products .social-icon .fab:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

.footer .developer h6,
.footer-products .developer h6 {
  margin-top: 30px;
  color: #fff;
}

.footer .developer .far,
.footer-products .developer .far {
  color: red;
}

/*--------------------------------Products footer-------------------------------*/
.footer-products {
  margin-top: 80px;
}

@media only screen and (max-width: 980px) {
  .footer .flogo,
  .footer-products .flogo {
    width: 100%;
    height: 280px;
  }
  .footer .footer-link a,
  .footer-products .footer-link a {
    color: #38b6ff;
    text-transform: uppercase;
    margin-left: 120px;
    margin-bottom: 0px;
  }
  .footer .securelogo,
  .footer-products .securelogo {
    margin-top: 50px;
  }
  .footer .social-icon h6,
  .footer-products .social-icon h6 {
    margin-top: 20px;
  }
  .footer .securelogo,
  .footer-products .securelogo {
    width: 100%;
    height: 85%;
    margin-top: 35px;
    margin-right: auto;
    margin-left: auto;
    display: block;
  }
}

/*--------------------------------Products Information-------------------------------*/
.productinfo {
  margin-top: 70px;
}

.productinfo .carousel .carousel-control-prev-icon,
.productinfo .carousel .carousel-control-next-icon {
  background-color: #38b6ff;
}

.productinfo .carousel .carousel-indicators .active {
  background-color: #38b6ff;
}

.productinfo .carousel .carousel-inner img {
  width: 100%;
  height: 500px;
}

.productinfo .new {
  width: 40px;
  padding-left: 5px;
  font-size: 12px;
  color: #fff;
  background-color: green;
}

.productinfo .productcode {
  text-align: left;
  font-size: 12px;
}

.productinfo .rating-icon .fas,
.productinfo .far {
  color: #38b6ff;
}

.productinfo .rating-icon h5 {
  margin-top: 30px;
  font-weight: bold;
}

.productinfo .rating-icon p span {
  font-weight: bold;
}

.productinfo .rating-icon .btn-secondary {
  background-color: #38b6ff;
  margin-left: 10px;
  padding: 6px 12px;
}

.productinfo .rating-icon img {
  position: relative;
  width: 100%;
  height: 120px;
  margin-left: -10px;
}

/*---------------------Product Details---------------*/
.product-details {
  margin-top: 30px;
  margin-bottom: 50px;
}

.product-details span .fas {
  margin-left: 10px;
  color: #38b6ff;
  font-size: 15px;
}

.product-details .card-header a {
  text-transform: uppercase;
  color: #38b6ff;
}
/*# sourceMappingURL=style.css.map */